/**{
  border: solid 1px black;
}*/

/*blue: #36d7b6
light grey: #EBEBEB
darker grey: #EBEBEB*/

/*MAIN PAGE*/
html {
    position: relative;
    min-height: 100%;
}
body {
  font-family: 'PT Sans', sans-serif;
  margin-bottom: 60px;
  overflow-x: hidden;
}

*:focus {/*nueima glow nuo jquery boxes*/
    outline: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.menu {
	margin: 5px 5px 0px 5px;
  font-size: 20px;
  /*background-color: #fff;*/
  padding-top: 0px;
  padding-bottom: 0px;
}
.menu a {
  color: #858585;
}
.menu ul {
  padding-top: 10px;
}
.menu ul li {
  padding-left: 20px;
}
.navbar-nav {
  border-bottom: none;
  /*background-color: #fff;*/
}
.navbar-nav>li>a:hover {
  border: none;
  /*background-color: #fff;*/
}
.navbar-default {
  border: none;
  margin-bottom: 0;
}
.brand img {
  height: 80px;
}
@media (max-width:770px) {
  .menu {
    /*margin: 0;
    padding: 0;*/
  }
  .brand {
    padding-left: 10px;
  }
  .brand img {
    height: 60px;
  }
}
/*CAROUSEL*/
.carousel-control.left, .carousel-control.right {
  background: none !important;
  filter: progid: none !important;
  outline: 0;
 }
.carousel .carousel-control {
  visibility: hidden;
}
.carousel:hover .carousel-control {
  visibility: visible;
}
.carousel h2 {
  font-size: 40px;
  text-shadow: 1px 1px black;
}
@media (min-width:1366px) {
  .carousel {
    margin-left: 5%;
    margin-right: 5%;
  }
  .brand {
    padding-left: 20px;
  }
}
@media (min-width:1600px) {
  .carousel {
    margin-left: 10%;
    margin-right: 10%;
  }
}
/*@media (min-width:1366px) {
  .carousel {
    margin-left: 5%; 
  }
  .carousel-control.right .glyphicon-chevron-right {
    margin-right: 120px;
  }
}

@media (min-width:1600px) {
  .carousel {
    margin-left: 10%;
  }
  .carousel-control.right .glyphicon-chevron-right {
    margin-right: 300px;
  }
}*/
/*THUMBNAILS*/
 a:hover {
    text-decoration: none;
}
.thumbs {
  padding-top: 50px;
  background-color: #EBEBEB;/*light grey*/
}
.thumbs h1 {
  text-align: center;
  padding-bottom: 55px;
  color: #333;
}

.thumbnail {
  height: 450px;
  border: 0 none;
  border-radius: 0;
  padding: 0;
  background-color: #999;/*darker grey*/
}

.caption {
    height: 450px;
}
.caption img{
  top-margin: 100px;
}
.caption:hover {
  box-shadow: 0 1px 8px black;
}
#christmas{
  background-image: url("Thumbs/christmas1grey1.jpg");
}
#christmas:hover {
  background-image: url("Thumbs/christmas1blue3.jpg");
}
#dessert {
  background-image: url("Thumbs/dessert7grey4.jpg");
}
#dessert:hover {
  background-image: url("Thumbs/dessert7blue4.jpg");
}
#sport {
  background-image: url("Thumbs/bikegrey1.jpg");
}
#sport:hover {
  background-image: url("Thumbs/bikeblue4.jpg");
}

/**/

/*.thumbnail:hover {
  background-color: #36d7b6;
}*/

.thumbnail img {
	float: left;
}
.thumbnail .left {
  border-right: solid 2px white;
}

.thumbnail #right{
	float: right;
  border-left: solid 2px white;
}
.thumbnail h2 {
  font-size: 35px;
  color: #fff;;
}
.thumbnail h4 {
  font-size: 25px;
  color: #fff;;
}
.thumbnail #christmas h2{
  text-align: center;
  font-size: 45px;
}
.thumbnail #christmas h4{
  text-align: center;
}
.thumbnail #christmas p{
  text-align: center;
}
/*.thumbnail #christmas h2{
  padding-left: 620px;
}
.thumbnail #christmas h4{
  padding-left: 620px;
  padding-bottom: 10px;
}
.thumbnail #christmas p{
  padding-left: 620px;
}*/

.thumbnail #dessert h2{
  text-align: center;
  padding-top: 5px;
  font-size: 45px;
}
.thumbnail #dessert h4{
  text-align: center;
  padding-bottom: 10px;
  font-size: 35px;
}
.thumbnail #dessert p{
  text-align: center;
}

.thumbnail #sport h2{
  text-align: center;
  padding-top: 110px;
  font-size: 45px;
}
.thumbnail #sport h4{
  text-align: center;
  padding-bottom: 10px;
  font-size: 35px;
}
.thumbnail #sport p{
  text-align: center;
}

@media (max-width: 1224px) {
  .thumbnail {
    width: 100%;
    height: auto; 
  }
}
@media (max-width: 990px) {
  .thumbnail img{
    width: 100%;
    height: auto; 
  }
  .thumbs h1 {
    font-size: 35px;
  }
  #christmas {
    height: 100%;
    width: auto;
  }
  #dessert {
    height: 100%;
    width: auto;
  }
  #sport {
    height: 100%;
    width: auto;
  }
  .thumbnail #christmas h2 {
    font-size: 35px;
  }
  .thumbnail #christmas h4 {
    font-size: 25px;
  }
  .thumbnail #dessert h2 {
    font-size: 35px;
  }
  .thumbnail #dessert h4 {
    font-size: 25px;
  }
  .thumbnail #sport h2 {
    font-size: 35px;
  }
  .thumbnail #sport h4 {
    font-size: 25px;
  }
  #christmas{
    background-image: url('Thumbs/grey.jpg');
  }
  #christmas:hover{
      background-image: url('Thumbs/blue.jpg');
  }
  #dessert{
    background-image: url('Thumbs/grey.jpg');
  }
  #dessert:hover{
      background-image: url('Thumbs/blue.jpg');
  }
  #sport{
    background-image: url('Thumbs/grey.jpg');
  }
  #sport:hover{
    background-image: url('Thumbs/blue.jpg');
  }
  .thumbnail #christmas h2 {
    padding-top: 200px;
  }
  .thumbnail #dessert h2 {
    padding-top: 200px;
  }
  .thumbnail #sport h2 {
    padding-top: 200px;
  }
}
@media (max-width:640px) {
  .thumbs h1 {
    font-size: 25px;
  }
}
@media (max-width:414px) {
  .thumbnail #christmas h2 {
    font-size: 30px;
  }
  .thumbnail #christmas h4 {
    font-size: 20px;
  }
  .thumbnail #dessert h2 {
    font-size: 30px;
  }
  .thumbnail #dessert h4 {
    font-size: 20px;
  }
  .thumbnail #sport h2 {
    font-size: 30px;
  }
  .thumbnail #sport h4 {
    font-size: 20px;
  }
  .thumbs {
  padding-top: 20px;
  }
  .thumbs h1 {
  padding-bottom: 20px;
  }
}

/*SOUPS/CASSEROLES*/
#dish {
  background-color: #DBDBDB;
}

#soups_container {
  padding-top: 30px;
}
#soups_container h1 {
  color: white;/*#DBDBDB*/
  font-size: 30px;
}

#soups_container .jumbotron {
  background-image: url("Soups/main4_1.jpg");
  background-size: cover;
  height: 400px;
  border-radius: 0px;
}
#casserole_jumbotron #soups_container .jumbotron{ /*for casseroles and desserts*/
  background-image: url("Casseroles/main1.jpg");
}
#casserole_jumbotron #soups_container h1 {
  color: #973600;
  font-size: 30px;
  text-shadow: 1px 1px black;
}
#desserts_jumbotron #soups_container .jumbotron{ /*for casseroles and desserts*/
  background-image: url("Desserts/main8.jpg");

}
#desserts_jumbotron #soups_container h1 {
  color: white;
  font-size: 30px;
  text-shadow: 1px 1px black;
}
#christmas_jumbotron #soups_container .jumbotron{ /*for casseroles and desserts*/
  background-image: url("Christmas/main1.jpg");
}
#christmas_jumbotron #soups_container h1 {
  color: white;
  font-size: 35px;
  text-shadow: 1px 1px black;
}
#vegan_jumbotron #soups_container .jumbotron{ /*for casseroles and desserts*/
  background-image: url("Vegan/main.jpg");
}
#vegan_jumbotron #soups_container h1 {
  color: white;
  font-size: 35px;
  text-shadow: 1px 1px black;
}
#smoothie_jumbotron #soups_container .jumbotron{ /*for casseroles and desserts*/
  background-image: url("Smoothies/main3.jpg");
}
#smoothie_jumbotron #soups_container h1 {
  color: #2DB2E0;
  font-size: 35px;
  text-shadow: 1px 1px black;
}
#accordion img {
  width: 540px;
  height: auto;
}
#accordion p {
  font-size: 17px;
}
#accordion h3 {
  font-size: 17px;
  font-weight: bold;
}
#accordion .icons {
  height: 70px;
  width: auto;
  padding-right: 50px;
}
#accordion {
  padding-bottom: 20px;
}
@media (max-width:990px) {
  #soups_container .col-md-12 {
    position: absolute;
  }
  #soups_jumbotron .jumbotron , #casserole_jumbotron .jumbotron , #desserts_jumbotron .jumbotron , #christmas_jumbotron .jumbotron , #vegan_jumbotron .jumbotron , #smoothie_jumbotron .jumbotron {
    height: 250px;
  }
  #accordion .icons {
    padding-right: 5px;
  }
  #accordion h3 {
    font-size: 15px;
  }
}
@media (max-width:667px) {
    #accordion h3 img {
      display: none;
    }
    #casserole_jumbotron #soups_container h1 {
      font-size: 20px;
    }
    #accordion .col-md-6 {
      height: 100%;
      width: auto;
    }
}

/*FOOTER*/

/*.panel-default {
    margin-bottom: 0px;
}
.panel-footer {
  height: 35px;
  border-radius: 0px;
  font-size: 12px;
  width: 100%;
}

.panel-default div {
  display: inline-block;
}
.social {
  height: 35px;
  overflow: hidden;
}
.social *{
  display: inline-block;
}
.social p {
  padding-right: 980px;
  height: 20px;
}
.social .fa-2x {
  float: right;
  padding-left: 5px;
  padding-top: 0px;
}*/

#footer {
  position: absolute;
  bottom: -10px;
  width: 100%;
  background-color: #EBEBEB;
}
#footer p {
  padding-top: 10px;
  padding-left: 10px;
}
#footer .pull-right {
  padding-top: 5px;
  padding-left: 250px;
}

#footer .fa-2x{
  color: #858585;
  padding-left: 10px;
}
#footer .fa-2x:hover{
  color: #36d7b6;
}
@media (max-width:1030px) {
  #footer .pull-right {
    padding-left: 100px;
  }
  #footer .col-md-8 {
    padding-right: 300px;
  }
}
@media (max-width:990px) {
    #footer .col-md-8 {
      padding-right: 0px;
      width: 97%;
    }
    #footer .col-md-4{
      padding-left: 0px;
      padding-top: 0px;
      width: 97%;
    }
}
@media only screen and (min-device-width: 375px) and (max-device-height: 667px){
  #footer .col-md-4,.col-md-8  {
    padding-left: 5px;
  }
}


/*test*/




