/**{
  border: solid 1px black;
}*/

/*blue: #36d7b6
light grey: #EBEBEB
darker grey: #EBEBEB*/

/*MAIN PAGE*/
html {
    position: relative;
    min-height: 100%;
}
body {
  font-family: 'PT Sans', sans-serif;
  margin-bottom: 50px;
  overflow-x: hidden;
}

*:focus {/*removes glow from jquery boxes*/
    outline: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.menu {
	margin: 5px 5px 0px 5px;
  font-size: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.menu a {
  color: #858585;
}
.menu ul {
  padding-top: 10px;
}
.menu ul li {
  padding-left: 20px;
}
.navbar-nav {
  border-bottom: none;
}
.navbar-nav>li>a:hover {
  border: none;
}
.navbar-default {
  border: none;
  margin-bottom: 0;
  padding-bottom: 10px;
  padding-top: 10px;
}
.brand {
  padding-top: 10px;
  padding-bottom: 10px;
}
.brand img {
  height: 80px;
}

@media (min-width:1366px) {
  body #dish{
   margin-bottom: 0px;
   padding-bottom: 0px;
  }
}
@media (max-width:770px) {
  .brand {
    padding-left: 10px;
  }
  .brand img {
    height: 60px;
  }
}
/*CAROUSEL*/

.carousel-control.left, .carousel-control.right {
  background: none !important;
  filter: progid: none !important;
  outline: 0;
 }
.carousel .carousel-control {
  visibility: hidden;
}
.carousel:hover .carousel-control {
  visibility: visible;
}
.carousel h2 {
  font-size: 40px;
  text-shadow: 1px 1px black;
}
.carousel-inner .item.active img {
  margin: 0 auto; /*jumbotron margins auto*/
}
@media (min-width:1366px) {
  .brand {
    padding-left: 50px;
  }
  .carousel .next {
    padding-left: 80px;
  }
  .carousel .prev {
    padding-left: 80px;  
  }
}
@media (min-width:1600px) {
  .brand {
    padding-left: 50px;
  }
  .carousel .next {
    padding-left: 200px;
  }
  .carousel .prev {
    padding-left: 200px;  
  }
}
/*THUMBNAILS*/
 a:hover {
    text-decoration: none;
}
.thumbs {
  padding-top: 50px;
  background-color: #EBEBEB;/*light grey*/
}
.thumbs h1 {
  text-align: center;
  padding-bottom: 55px;
  color: #333;
}

.thumbnail {
  height: 450px;
  border: 0 none;
  border-radius: 0;
  padding: 0;
  background-color: #999;/*darker grey*/
}
.thumbnail:hover {
  box-shadow: 0 1px 8px black;
}
.caption {
    height: 450px;
}
.caption img{
  top-margin: 100px;
}

#christmas{
  background-image: url("../images/Thumbs/christmas1grey1.jpg");
}
#christmas:hover {
  background-image: url("../images/Thumbs/christmas1blue4.jpg");
}
#dessert {
  background-image: url("../images/Thumbs/dessert7grey4.jpg");
}
#dessert:hover {
  background-image: url("../images/Thumbs/dessert7blue4.jpg");
}
#sport {
  background-image: url("../images/Thumbs/bikegrey1.jpg");
}
#sport:hover {
  background-image: url("../images/Thumbs/bikeblue4.jpg");
}

/**/


.thumbnail img {
	float: left;
}
.thumbnail .left {
  border-right: solid 2px white;
}

.thumbnail #right{
	float: right;
  border-left: solid 2px white;
}
.thumbnail h2 {
  font-size: 35px;
  color: #fff;;
}
.thumbnail h4 {
  font-size: 25px;
  color: #fff;;
}
.thumbnail #christmas h2{
  text-align: center;
  font-size: 45px;
}
.thumbnail #christmas h4{
  text-align: center;
}
.thumbnail #christmas p{
  text-align: center;
}

.thumbnail #dessert h2{
  text-align: center;
  padding-top: 5px;
  font-size: 45px;
}
.thumbnail #dessert h4{
  text-align: center;
  padding-bottom: 10px;
  font-size: 35px;
}
.thumbnail #dessert p{
  text-align: center;
}
.thumbnail #sport {
  padding-bottom: 0;
}
.thumbnail #sport h2{
  text-align: center;
  padding-top: 110px;
  font-size: 45px;
}
.thumbnail #sport h4{
  text-align: center;
  padding-bottom: 10px;
  font-size: 35px;
}
.thumbnail #sport p{
  text-align: center;
}

@media (max-width: 1224px) {
  .thumbnail {
    width: 100%;
    height: auto; 
  }
}
@media (max-width: 990px) {
  .thumbnail img{
    width: 100%;
    height: auto; 
  }
  .thumbnail .left {
    border-right: 0px;
  }
  .thumbnail #right{
    border-left: 0px;
  }
  .thumbs h1 {
    font-size: 35px;
  }
  #christmas {
    height: 100%;
    width: auto;
  }
  #dessert {
    height: 100%;
    width: auto;
  }
  #sport {
    height: 100%;
    width: auto;
  }
  .thumbnail #christmas h2 {
    font-size: 35px;
  }
  .thumbnail #christmas h4 {
    font-size: 25px;
  }
  .thumbnail #dessert h2 {
    font-size: 35px;
  }
  .thumbnail #dessert h4 {
    font-size: 25px;
  }
  .thumbnail #sport h2 {
    font-size: 35px;
  }
  .thumbnail #sport h4 {
    font-size: 25px;
  }
  #christmas{
    background-image: url('../images/Thumbs/grey.jpg');
  }
  #christmas:hover{
      background-image: url('../images/Thumbs/blue.jpg');
  }
  #dessert{
    background-image: url('../images/Thumbs/grey.jpg');
  }
  #dessert:hover{
      background-image: url('../images/Thumbs/blue.jpg');
  }
  #sport{
    background-image: url('../images/Thumbs/grey.jpg');
  }
  #sport:hover{
    background-image: url('../images/Thumbs/blue.jpg');
  }
  .thumbnail #christmas h2 {
    padding-top: 200px;
  }
  .thumbnail #dessert h2 {
    padding-top: 200px;
  }
  .thumbnail #sport h2 {
    padding-top: 200px;
  }
}
@media (max-width:640px) {
  .thumbs h1 {
    font-size: 25px;
  }
}
@media (max-width:414px) {
  .thumbnail #christmas h2 {
    font-size: 30px;
  }
  .thumbnail #christmas h4 {
    font-size: 20px;
  }
  .thumbnail #dessert h2 {
    font-size: 30px;
  }
  .thumbnail #dessert h4 {
    font-size: 20px;
  }
  .thumbnail #sport h2 {
    font-size: 30px;
  }
  .thumbnail #sport h4 {
    font-size: 20px;
  }
  .thumbs {
  padding-top: 20px;
  }
  .thumbs h1 {
  padding-bottom: 20px;
  }
}

/*SOUPS/CASSEROLES*/
#dish {
  background-color: #DBDBDB;
  padding-bottom: 0px;
}

#soups_container {
  padding-top: 30px;
}
#soups_container h1 {
  color: black;/*#DBDBDB*/
  font-size: 30px;
}
#soups_container .col-md-12 {
  background:rgba(255,255,255,0.5);/*semi-transparent background not affecting the text*/
  padding-bottom: 7px;
}
#soups_container .jumbotron {
  background-image: url("../images/Soups/main4_1.jpg");
  background-size: cover;
  height: 400px;
  border-radius: 0px;
}
#casserole_jumbotron #soups_container .jumbotron{ /*for casseroles and desserts*/
  background-image: url("../images/Casseroles/main1.jpg");
}
#casserole_jumbotron #soups_container h1 {
  color: black;
  font-size: 30px;  
}
#desserts_jumbotron #soups_container .jumbotron{ /*for casseroles and desserts*/
  background-image: url("../images/Desserts/main8.jpg");
}
#desserts_jumbotron #soups_container h1 {
  color: black;
  font-size: 30px;
}
#christmas_jumbotron #soups_container .jumbotron{ /*for casseroles and desserts*/
  background-image: url("../images/Christmas/main1.jpg");
}
#christmas_jumbotron #soups_container h1 {
  color: black;
  font-size: 35px;
}
#vegan_jumbotron #soups_container .jumbotron{ /*for casseroles and desserts*/
  background-image: url("../images/Vegan/main.jpg");
}
#vegan_jumbotron #soups_container h1 {
  color: black;
  font-size: 35px;
}
#smoothie_jumbotron #soups_container .jumbotron{ /*for casseroles and desserts*/
  background-image: url("../images/Smoothies/main3.jpg");
  background-position: center;
}
#smoothie_jumbotron #soups_container h1 {
  color: black;
  font-size: 35px;
}
#accordion img {
  width: 540px;
  height: auto;
}
#accordion p {
  font-size: 17px;
}
#accordion h3 {
  font-size: 17px;
  font-weight: bold;
}
#accordion .icons {
  height: 70px;
  width: auto;
  padding-right: 50px;
}
#accordion {
  padding-bottom: 20px;
}
@media (max-width:990px) {
  #soups_container .col-md-12 {
    position: absolute;
  }
  #soups_jumbotron .jumbotron , #casserole_jumbotron .jumbotron , #desserts_jumbotron .jumbotron , #christmas_jumbotron .jumbotron , #vegan_jumbotron .jumbotron , #smoothie_jumbotron .jumbotron {
    height: 250px;
  }
  #casserole_jumbotron #soups_container h1, #soups_jumbotron #soups_container h1, #christmas_jumbotron #soups_container h1, #desserts_jumbotron #soups_container h1, #smoothie_jumbotron #soups_container h1, #vegan_jumbotron #soups_container h1 {
    font-size: 25px;
  }
  #accordion .icons {
    padding-right: 5px;
  }
  #accordion h3 {
    font-size: 15px;
  }
  #soups_container .col-md-12 {
    width: 80%;
  }
}
@media (max-width:667px) {
    #accordion h3 img {
      display: none;
    }
}

/*FOOTER*/

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #EBEBEB;
}
#footer p {
  padding-top: 10px;
  padding-left: 10px;
}
#footer .pull-right {
  padding-top: 5px;
  padding-left: 250px;
}

#footer .fa-2x{
  color: #858585;
  padding-left: 10px;
}
#footer .fa-2x:hover{
  color: #36d7b6;
}

@media (max-width:1030px) {
  #footer .pull-right {
    padding-left: 100px;
  }
  #footer .col-md-8 {
    padding-right: 300px;
  }
}
@media (max-width:990px) {
    #footer .col-md-8 {
      padding-right: 0px;
      width: 97%;
    }
    #footer .col-md-4{
      padding-left: 0px;
      padding-top: 0px;
      width: 97%;
    }
}
@media only screen and (min-device-width: 375px) and (max-device-height: 667px){
  #footer .col-md-4,.col-md-8  {
    padding-left: 5px;
  }
}


